@model JTT.Models.UserDetailsModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<main>
    <div class="container-fluid bg-white shadow align-content-center" style="height:7vh">
        <h4>Dashboard</h4>

        @Html.LabelFor(Model => Model.Name)
        @*@Html.EditorFor(ModelIdType=>Model.Name, new(class="Disabled"));*@
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class="none", @disabled = "disabled" } })


        <br />
        @Html.LabelFor(Model => Model.Email)
        @Html.EditorFor(Model => Model.Email)
        <br />
        @Html.LabelFor(Model => Model.Address)
        @Html.EditorFor(Model => Model.Address)
    </div>
</main>
